<html>
<head>
    <link rel="stylesheet" href="../../css/criterion-reports.css" type="text/css" media="all">
</head>

<body class="documentBody">
<div class="highlights">
    <div class="imgheader">
        <div class="h1">
            Natural Gas Highlights<br>
            Report Date
        </div>
    </div>
</div>
<div id="content" class="container vertical">
    <div id="modulesHolder">
        <div id="section-front" data-uid="34z1w2e3dv9z1rp7ri" class="sectionContainer selectedSection">
            <div class="sectionContainerInner">
                <div class="ColumnModule  lc_firstOnPage lc_lastOnPage">
                    <div class="column twoThirds lc_firstColumn">
                        <div data-uid="module-34z1w2e3dwhz123urvv" class="TextModule module  lc_firstInColumn"
                             style="position:relative;">
                            <div style=""><p class="fps-header-level-2"><a></a></p>
                                <p class="fps-header-level-2">States Scale Back Purpa Rules, Narrowing Solar Option</p>
                            </div>
                        </div>
                        <div data-uid="module-34z1w2e3dxvzfaqf8t" class="TextModule module " style="position:relative;">
                            <div style=""><p class="fps-byline">BY Kyle Harrison, Bloomberg new energy Finance</p>

                                <p class="fps-addIndent">State regulators in states including North Carolina, Georgia
                                    and Montana are narrowing options for solar developers by revising rules set by the
                                    Public Utility Regulatory Policies Act.</p>

                                <p class="fps-addIndent">The act, known as Purpa, has driven half of the 3.8 gigawatts
                                    of utility-scale PV build in regulated U.S. electric service territories since 2009.
                                    An additional 5.1 gigawatts of “qualifying facilities” – 82 percent of this solar –
                                    have been filed for interconnection through 2019.</p>

                                <p class="fps-addIndent">As power demand growth has slowed to near zero, some utilities
                                    have said new solar generation would become a financial burden.</p>

                                <p class="fps-addIndent"> A flood of new Purpa projects could result in the early
                                    retirement of existing fossil fuel and nuclear plants with higher marginal costs.
                                    That process will likely be slowed as Purpa guarantees are eased by state measures
                                    that have reduced the size or qualifying projects and reducing the length of
                                    contracts.</p>

                                <p class="fps-addIndent"></p>

                                <p>&nbsp; Read the full story on your Bloomberg terminal<a
                                        href="http://blinks.bloomberg.com/news/stories/ODECVE6S972D" target="_blank">
                                        <span id="selectionBoundary_1473710017822_09825495841112519"
                                              class="rangySelectionBoundary">﻿</span>here</a><span
                                        id="selectionBoundary_1473710017821_36028495677776173"
                                        class="rangySelectionBoundary">﻿</span>.</p>

                                <p class="fps-addIndent"><br></p></div>
                        </div>
                        <div data-uid="module-34z1w2e3e2gz4aryf8" class="DividerModule module ">
                            <div style="">&nbsp;</div>
                        </div>
                        <div data-uid="module-34z1w2e3dyyz10oei8x" class="TextModule module "
                             style="position:relative;">
                            <div style=""><p class=""><span class="fcs-orangehighlight">KEY INDICATORS</span></p></div>
                        </div>
                        <div id="module-34z1w2e3e0szlompq8" data-uid="module-34z1w2e3e0szlompq8"
                             class="ImageModule module fbs-noSpaceBelowModule imageborder size-100"
                             data-tooltip="Click to zoom on image">
                            <div class="image" style="height: 125px;" data-image-position-info-img-left="0"
                                 data-image-position-info-img-top="0" data-image-position-info-img-width="472"
                                 data-image-position-info-img-height="125" data-image-position-info-hole-width="472"
                                 data-image-position-info-hole-height="125">
                                <noscript>
                                    &lt;div class="noscriptimage" style="width: 472px; height: 125px; background:
                                    url(/repo/uploadsb/module_images/223998.png) no-repeat; background-size: 472px
                                    125px; background-position: 0px 0px;" &gt;&lt;/div&gt;
                                </noscript>
                                <img src="../Bloomberg Briefs 160912_files/223998.png"
                                     style="position: absolute; width: 472px; height: 125px; left: 0px; top: 0px;">
                                <div class="borderHolder"></div>
                                <div class="magicLeft" style="height: 125px;"></div>
                                <div class="magicRight" style="height: 125px;"></div>
                                <div class="magicTop" style="width:472px"></div>
                                <div class="magicBottom" style="width:472px"></div>
                            </div>
                            <div style="clear: both"></div>
                            <div class="source_caption_wrapper">
                            </div>
                        </div>
                        <div data-uid="module-34z1w2e3e13zogq56a"
                             class="DividerModule module fbs-pdfHide lc_lastModuleOnPage lc_lastInColumn">
                            <div style="">&nbsp;</div>
                        </div>
                    </div>
                    <div class="column oneThird">
                        <div data-uid="module-34z1w2e3dx8z52bppe"
                             class="TextModule module fbs-bluebox fbs-noSpaceBelowModule lc_firstInColumn"
                             style="position:relative;">
                            <div style=""><p class="fps-header-level-5">ON THE RECORD</p></div>
                        </div>
                        <div data-uid="module-34z1w2e3dwtzl74mbr" class="TextModule module fbs-bluebox"
                             style="position:relative;">
                            <div style=""><p class="fps-quote">“Let me be clear, my proxy contest is not a mandate to
                                sell the company. It is about a fundamental governance question: shouldn’t a company
                                with world class potential such as Williams have world class directors?” </p>

                                <p class="fps-bylineright">— Activist investor Keith Meister of Corvex Management LP in
                                    an open letter to the directors of Williams Co. Read more in this issue <a
                                            href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-todays-news">here.</a><br>
                                </p></div>
                        </div>
                        <div data-uid="module-34z1w2e3dxizt31x6b"
                             class="TextModule module fbs-bluebox fbs-noSpaceBelowModule" style="position:relative;">
                            <div style=""><p class="fps-header-level-5">gENERATION MONITOR</p></div>
                        </div>
                        <div class="ColumnModule ">
                            <div class="column fullWidth">
                                <div data-uid="module-34z1w2e3e1xz3wmw45"
                                     class="TextModule module fbs-noSpaceBelowModule fbs-bluebox lc_firstInColumn"
                                     style="position:relative;">
                                    <div style=""><p class="fps-header-level-1"> 17.78 Bcf/d </p></div>
                                </div>
                                <div data-uid="module-34z1w2e3e27z2eflf1" class="TextModule module fbs-bluebox"
                                     style="position:relative;">
                                    <div style=""><p>Forecast October Marcellus shale gas production, down 22 MMcf/d
                                        from an estimated average of 17.806 Bcf/d this month, according to an EIA
                                        report.</p></div>
                                </div>
                                <div data-uid="module-34z1w2e3e1cz11pa8pf"
                                     class="TextModule module fbs-bluebox fbs-noSpaceBelowModule"
                                     style="position:relative;">
                                    <div style=""><p class="fps-header-level-5"><span
                                            class="fcs-orangehighlight"></span>inside</p></div>
                                </div>
                                <div data-uid="module-34z1w2e3e1mzwtsrmr"
                                     class="TextModule module fbs-bluebox lc_lastModuleOnPage lc_lastInColumn"
                                     style="position:relative;">
                                    <div style=""><p class=""><b>POWER BURN.</b> Wind, cooler temperatures reduce
                                        natural gas demand by <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-insight-power-burn">power
                                            plants.</a><br></p>
                                        <p class="">&nbsp; <br><b>MARKET CALL.</b> PE firms may step in to take <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-insight-cftc-amp-genscape">utilities</a>
                                            private, Citi says.<br></p> <br>
                                        <div></div>
                                        <div><p><b>PRICES</b>. Daily <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-spots"><span
                                                id="selectionBoundary_1472559271941_7612122914914896"
                                                class="rangySelectionBoundary">﻿</span><span
                                                id="selectionBoundary_1472559293784_792972245754145"
                                                class="rangySelectionBoundary">﻿</span>spot<span
                                                id="selectionBoundary_1472559293784_7198200733077813"
                                                class="rangySelectionBoundary">﻿</span><span
                                                id="selectionBoundary_1472559271941_9510692885749157"
                                                class="rangySelectionBoundary">﻿</span></a> prices, <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-power-forwards"><span
                                                id="selectionBoundary_1472559298384_6844797477892617"
                                                class="rangySelectionBoundary">﻿</span>power<span
                                                id="selectionBoundary_1472559298383_3595849011970247"
                                                class="rangySelectionBoundary">﻿</span></a> and <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-gas-forwards"><span
                                                id="selectionBoundary_1472559305556_313069887435409"
                                                class="rangySelectionBoundary">﻿</span>gas<span
                                                id="selectionBoundary_1472559305555_11905487707246198"
                                                class="rangySelectionBoundary">﻿</span> </a>forward markets.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="highlights pageBreak" style="break-before: always;">
    <div class="imgheader">
        <div class="h1">
            Natural Gas Highlights<br>
            Report Date
        </div>
    </div>
</div>
<div id="content" class="container vertical">
    <div id="modulesHolder">
        <div id="section-front" data-uid="34z1w2e3dv9z1rp7ri" class="sectionContainer selectedSection">
            <div class="sectionContainerInner">
                <div class="ColumnModule  lc_firstOnPage lc_lastOnPage">
                    <div class="column twoThirds lc_firstColumn">
                        <div data-uid="module-34z1w2e3dwhz123urvv" class="TextModule module  lc_firstInColumn"
                             style="position:relative;">
                            <div style=""><p class="fps-header-level-2"><a></a></p>
                                <p class="fps-header-level-2">States Scale Back Purpa Rules, Narrowing Solar Option</p>
                            </div>
                        </div>
                        <div data-uid="module-34z1w2e3dxvzfaqf8t" class="TextModule module " style="position:relative;">
                            <div style=""><p class="fps-byline">BY Kyle Harrison, Bloomberg new energy Finance</p>

                                <p class="fps-addIndent">State regulators in states including North Carolina, Georgia
                                    and Montana are narrowing options for solar developers by revising rules set by the
                                    Public Utility Regulatory Policies Act.</p>

                                <p class="fps-addIndent">The act, known as Purpa, has driven half of the 3.8 gigawatts
                                    of utility-scale PV build in regulated U.S. electric service territories since 2009.
                                    An additional 5.1 gigawatts of “qualifying facilities” – 82 percent of this solar –
                                    have been filed for interconnection through 2019.</p>

                                <p class="fps-addIndent">As power demand growth has slowed to near zero, some utilities
                                    have said new solar generation would become a financial burden.</p>

                                <p class="fps-addIndent"> A flood of new Purpa projects could result in the early
                                    retirement of existing fossil fuel and nuclear plants with higher marginal costs.
                                    That process will likely be slowed as Purpa guarantees are eased by state measures
                                    that have reduced the size or qualifying projects and reducing the length of
                                    contracts.</p>

                                <p class="fps-addIndent"></p>

                                <p>&nbsp; Read the full story on your Bloomberg terminal<a
                                        href="http://blinks.bloomberg.com/news/stories/ODECVE6S972D" target="_blank">
                                        <span id="selectionBoundary_1473710017822_09825495841112519"
                                              class="rangySelectionBoundary">﻿</span>here</a><span
                                        id="selectionBoundary_1473710017821_36028495677776173"
                                        class="rangySelectionBoundary">﻿</span>.</p>

                                <p class="fps-addIndent"><br></p></div>
                        </div>
                        <div id="module-34z1w2e3e0iz14beq4f" data-uid="module-34z1w2e3e0iz14beq4f"
                             class="ImageModule module size-100" data-tooltip="Click to zoom on image">
                            <div class="moduleHeader">
                                <div class="title">Purpa Driving Smaller Percentage of Solar Projects</div>
                            </div>
                            <div class="image" style="height: 224px;" data-image-position-info-img-left="0"
                                 data-image-position-info-img-top="0" data-image-position-info-img-width="472"
                                 data-image-position-info-img-height="224" data-image-position-info-hole-width="472"
                                 data-image-position-info-hole-height="224">
                                <noscript>
                                    &lt;div class="noscriptimage" style="width: 472px; height: 224px; background:
                                    url(/repo/uploadsb/module_images/224158.png) no-repeat; background-size: 472px
                                    224px; background-position: 0px 0px;" &gt;&lt;/div&gt;
                                </noscript>
                                <img src="../Bloomberg Briefs 160912_files/224158.png"
                                     style="position: absolute; width: 472px; height: 224px; left: 0px; top: 0px;">
                                <div class="borderHolder"></div>
                                <div class="magicLeft" style="height: 224px;"></div>
                                <div class="magicRight" style="height: 224px;"></div>
                                <div class="magicTop" style="width:472px"></div>
                                <div class="magicBottom" style="width:472px"></div>
                            </div>
                            <div style="clear: both"></div>
                            <div class="source_caption_wrapper">
                            </div>
                        </div>
                        <div data-uid="module-34z1w2e3e2gz4aryf8" class="DividerModule module ">
                            <div style="">&nbsp;</div>
                        </div>
                        <div data-uid="module-34z1w2e3dyyz10oei8x" class="TextModule module "
                             style="position:relative;">
                            <div style=""><p class=""><span class="fcs-orangehighlight">KEY INDICATORS</span></p></div>
                        </div>
                        <div id="module-34z1w2e3e0szlompq8" data-uid="module-34z1w2e3e0szlompq8"
                             class="ImageModule module fbs-noSpaceBelowModule imageborder size-100"
                             data-tooltip="Click to zoom on image">
                            <div class="image" style="height: 125px;" data-image-position-info-img-left="0"
                                 data-image-position-info-img-top="0" data-image-position-info-img-width="472"
                                 data-image-position-info-img-height="125" data-image-position-info-hole-width="472"
                                 data-image-position-info-hole-height="125">
                                <noscript>
                                    &lt;div class="noscriptimage" style="width: 472px; height: 125px; background:
                                    url(/repo/uploadsb/module_images/223998.png) no-repeat; background-size: 472px
                                    125px; background-position: 0px 0px;" &gt;&lt;/div&gt;
                                </noscript>
                                <img src="../Bloomberg Briefs 160912_files/223998.png"
                                     style="position: absolute; width: 472px; height: 125px; left: 0px; top: 0px;">
                                <div class="borderHolder"></div>
                                <div class="magicLeft" style="height: 125px;"></div>
                                <div class="magicRight" style="height: 125px;"></div>
                                <div class="magicTop" style="width:472px"></div>
                                <div class="magicBottom" style="width:472px"></div>
                            </div>
                            <div style="clear: both"></div>
                            <div class="source_caption_wrapper">
                            </div>
                        </div>
                        <div data-uid="module-34z1w2e3e13zogq56a"
                             class="DividerModule module fbs-pdfHide lc_lastModuleOnPage lc_lastInColumn">
                            <div style="">&nbsp;</div>
                        </div>
                    </div>
                    <div class="column oneThird">
                        <div data-uid="module-34z1w2e3dx8z52bppe"
                             class="TextModule module fbs-bluebox fbs-noSpaceBelowModule lc_firstInColumn"
                             style="position:relative;">
                            <div style=""><p class="fps-header-level-5">ON THE RECORD</p></div>
                        </div>
                        <div data-uid="module-34z1w2e3dwtzl74mbr" class="TextModule module fbs-bluebox"
                             style="position:relative;">
                            <div style=""><p class="fps-quote">“Let me be clear, my proxy contest is not a mandate to
                                sell the company. It is about a fundamental governance question: shouldn’t a company
                                with world class potential such as Williams have world class directors?” </p>

                                <p class="fps-bylineright">— Activist investor Keith Meister of Corvex Management LP in
                                    an open letter to the directors of Williams Co. Read more in this issue <a
                                            href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-todays-news">here.</a><br>
                                </p></div>
                        </div>
                        <div data-uid="module-34z1w2e3dxizt31x6b"
                             class="TextModule module fbs-bluebox fbs-noSpaceBelowModule" style="position:relative;">
                            <div style=""><p class="fps-header-level-5">gENERATION MONITOR</p></div>
                        </div>
                        <div data-uid="module-34z1w2e3dypzjfcban"
                             class="TableModule module standardTableType standardTableStyle fbs-bluebox fbs-noSpaceBelowModule">
                            <table cellspacing="0">
                                <tbody>
                                <tr>
                                    <td>TYPE</td>
                                    <td>TOTAL GWH</td>
                                    <td>TOTAL CHG</td>
                                </tr>
                                <tr>
                                    <td class="justify-left">COAL</td>
                                    <td class="  justify-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        2,273&nbsp;</td>
                                    <td class=" justify-right">-241</td>
                                </tr>
                                <tr>
                                    <td class="justify-left">NUCLEAR</td>
                                    <td class=" justify-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        1,499&nbsp;</td>
                                    <td class=" justify-right">-2</td>
                                </tr>
                                <tr>
                                    <td class="justify-left">OIL</td>
                                    <td class=" justify-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        11&nbsp;</td>
                                    <td class=" justify-right">-6</td>
                                </tr>
                                <tr>
                                    <td class="justify-left">WIND</td>
                                    <td class=" justify-right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        34&nbsp;</td>
                                    <td class=" justify-right">-4</td>
                                </tr>

                                </tbody>
                            </table>
                            <div class="source">Source: Genscape as of 7 a.m. ET</div>
                            <div class="caption"><p>Generation by fuel type for last 24 hours.</p></div>
                        </div>
                        <div class="ColumnModule ">
                            <div class="column fullWidth">
                                <div data-uid="module-34z1w2e3e1xz3wmw45"
                                     class="TextModule module fbs-noSpaceBelowModule fbs-bluebox lc_firstInColumn"
                                     style="position:relative;">
                                    <div style=""><p class="fps-header-level-1"> 17.78 Bcf/d </p></div>
                                </div>
                                <div data-uid="module-34z1w2e3e27z2eflf1" class="TextModule module fbs-bluebox"
                                     style="position:relative;">
                                    <div style=""><p>Forecast October Marcellus shale gas production, down 22 MMcf/d
                                        from an estimated average of 17.806 Bcf/d this month, according to an EIA
                                        report.</p></div>
                                </div>
                                <div data-uid="module-34z1w2e3e1cz11pa8pf"
                                     class="TextModule module fbs-bluebox fbs-noSpaceBelowModule"
                                     style="position:relative;">
                                    <div style=""><p class="fps-header-level-5"><span
                                            class="fcs-orangehighlight"></span>inside</p></div>
                                </div>
                                <div data-uid="module-34z1w2e3e1mzwtsrmr"
                                     class="TextModule module fbs-bluebox lc_lastModuleOnPage lc_lastInColumn"
                                     style="position:relative;">
                                    <div style=""><p class=""><b>POWER BURN.</b> Wind, cooler temperatures reduce
                                        natural gas demand by <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-insight-power-burn">power
                                            plants.</a><br></p>
                                        <p class="">&nbsp; <br><b>MARKET CALL.</b> PE firms may step in to take <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-insight-cftc-amp-genscape">utilities</a>
                                            private, Citi says.<br></p> <br>
                                        <div></div>
                                        <div><p><b>PRICES</b>. Daily <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-spots"><span
                                                id="selectionBoundary_1472559271941_7612122914914896"
                                                class="rangySelectionBoundary">﻿</span><span
                                                id="selectionBoundary_1472559293784_792972245754145"
                                                class="rangySelectionBoundary">﻿</span>spot<span
                                                id="selectionBoundary_1472559293784_7198200733077813"
                                                class="rangySelectionBoundary">﻿</span><span
                                                id="selectionBoundary_1472559271941_9510692885749157"
                                                class="rangySelectionBoundary">﻿</span></a> prices, <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-power-forwards"><span
                                                id="selectionBoundary_1472559298384_6844797477892617"
                                                class="rangySelectionBoundary">﻿</span>power<span
                                                id="selectionBoundary_1472559298383_3595849011970247"
                                                class="rangySelectionBoundary">﻿</span></a> and <a
                                                href="https://newsletters.briefs.bloomberg.com/document/lbpKpAEgbShqZakNaJoMjA--_7iz1w22suaozmt3cby/front#section-gas-forwards"><span
                                                id="selectionBoundary_1472559305556_313069887435409"
                                                class="rangySelectionBoundary">﻿</span>gas<span
                                                id="selectionBoundary_1472559305555_11905487707246198"
                                                class="rangySelectionBoundary">﻿</span> </a>forward markets.</p></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>