<h3>Hover <span class="fw-semi-bold">Table</span></h3>
<p>Trace only what's really important. <code>.table-hover</code> is made for it.</p>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Mark</td>
            <td>Otto</td>
            <td><a href="#">ottoto@example.com</a></td>
            <td><span class="badge bg-gray-lighter text-gray fw-semi-bold">Pending</span></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jacob</td>
            <td>Thornton</td>
            <td><a href="#">fat.thor@example.com</a></td>
            <td><span class="badge bg-gray-lighter text-gray-light">Unconfirmed</span></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Larry</td>
            <td>the Bird</td>
            <td><a href="#">larry@example.com</a></td>
            <td><span class="badge bg-gray-lighter text-gray fw-semi-bold">New</span></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Peter</td>
            <td>Horadnia</td>
            <td><a href="#">peter@example.com</a></td>
            <td><span class="badge bg-gray-lighter text-gray-light">Active</span></td>
        </tr>
        </tbody>
    </table>
</div>